// Colores main
$color-text-primary: #1d1d1d;
$color-text-accent: #4d4d4d;

// Background filter
$color-bg-filter: #efefef;
$color-bg-filter-active: #0f0f0f;
$color-bg-filter-accent: #2b2b2b;

// Background text
$color-bg-text: #0f0f0f;
$color-bg-text-active: #e6e6e6;

// Colores header footer
$color-text-header-primary: #efeeef;
$color-text-header-secondary: #707171;
$color-text-header-accent: #c1bfbf;

$color-headerfooter-bg: #30312f;

// Colores sidebar
$color-text-sidebar: #474747;
$color-text-sidebar-accent: #1b1b1b;
$color-sidebar-bg: #edeced;
