@use '../variables' as *;

.filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.filters-btn {
    padding: 0.5rem 1rem;
    background-color: $color-bg-filter;
    color: $color-text-primary;
    border: 0.5px solid $color-bg-text;
    border-radius: 10px;
    
    font-size: 1rem;
    
    &.filters-btn--active {
        background-color: $color-bg-filter-active;
        color: $color-bg-text-active;
        
        &:hover{
            color: $color-bg-text;
            background-color: $color-bg-filter;
        }
        
        &:focus-visible { // Para mejorar accesibilidad de tab en filtro seleccionado
            outline: 2px solid white;
            outline-offset: -4px;
        }
    }
    
    &:hover {
        background-color: $color-bg-filter-accent;
        color: $color-bg-text-active;
    }
}


